@layer reset {
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.4;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.3;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
}

@layer base {
  :root {
    /* colors */
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);   
    --Gray700: hsl(0, 0%, 20%);
    --Gray800: hsl(0, 0%, 12%);
    --Gray900: hsl(0, 0%, 8%);

    /* spacing */
    --space-50: 0.25rem;
    --space-100: 0.5rem;
    --space-150: 0.75rem;
    --space-200: 1rem; 
    --space-300: 1.5rem;
    --space-500: 2.5rem;

    /* font families */
    --main: "Inter", sans-serif;;

    /* type scale */
    --base-size: 0.875rem; /* 14px */
    --scale: 1.333;

    /* Start from base size for smallest heading */
    --h6: var(--base-size); 
    --h5: calc(var(--h6) * var(--scale)); /* scale up from h6 */
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));

    --small: calc(var(--base-size) / var(--scale)); /* smaller than base */
  }

  /* border box model: https://css-tricks.com/box-sizing/ */
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--main);
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--main);
    color:var(--White);
  }
  h1 {
    font-size: var(--h1);
    margin:0;
  }
  h2 {
    font-size: var(--h2);
  }
  h3 {
    font-size: var(--h3);
  }
  h4 {
    font-size: var(--h4);
  }
  h5 {
    font-size: var(--h5);
  }
  h6 {
    font-size: var(--h6);
  }
  .h1 {
    font-size: var(--h1);
  }
  .h2 {
    font-size: var(--h2);
  }
  .h3 {
    font-size: var(--h3);
  }
  .h4 {
    font-size: var(--h4);
  }
  .h5 {
    font-size: var(--h5);
  }
  .h6 {
    font-size: var(--h6);
  }
  p {
    font-size: var(--base-size);
    margin:0;
  }
 
  figure {
    margin: 0;
    padding: 0;
  }
}

@layer components {
    footer.attribution {
        margin-top: 2rem;
    }
    .attribution p{ font-size: var(--small); text-align: center; }
    .attribution a:hover, .attribution a:focus, .attribution a:active {color: var(--Green);}


    body {
        background-color: var(--Gray900);
        color: var(--White);
        font-size: var(--base-size);
    }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    text-align: center;
  }
  .card {
    background-color: var(--Gray800);
    border-radius: var(--space-150);
    padding: var(--space-300);
    /* min-width: 20.438rem; */
    width: 100%;           /* Allow card to fill container width */
    max-width: 20.438rem;  /* Limit max size on larger screens */
    margin: auto;
    display: flex;            
    flex-direction: column;
    align-items: center;   
    gap: var(--space-300);
  }

  .profile-image {
    aspect-ratio: 1/1;
    width: 5.5rem;
    border-radius: 50%;  }

  .location {
    color: var(--Green);
    font-weight: 700;
  }

  .profile-info p {
    margin-top: var(--space-50);
  }

  .name {
    font-weight: 600;
    font-size: var(--space-300);
  }

  nav {
    width: 100%;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin:0
  }
  ul li {
    color: var(--White);
    font-weight: 700;
  }
  ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: var(--space-150);
    border-radius: var(--space-100);
    background-color: var(--Gray700);
    transition: background-color 600ms ease, color 600ms ease;
  }
  ul li a:hover, ul li a:focus, ul li a:active {
    text-decoration: none;
    background-color: var(--Green);
    color: var(--Gray700);

  }
}

@layer media-queries {
  @media (min-width: 48rem) {
      .card {
    max-width: 24rem;
    padding: var(--space-500);
  }

  @media (prefers-reduced-motion: reduce) {
  transition: none; /* Remove transitions to respect user preference */
}
  } 
}